h1{
    font-size: 50px;
    color: red;
}
p{
    font-size: 40px;
    color: rgb(10, 6, 2);
    background-color: blanchedalmond;
}
#my-first-paragraph{
    font-size: 38px;
}
*{
    background-color: beige;
}
.text-align-right{
    text-align: right;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}